html {
    background-color: white;
}

header {
    background-color: rgba(81, 31, 173, 0.759);
    text-align: center;
    width: 90%;
    margin: auto;
}

.menu {
    text-align: center;
}

/*Menu Buttons*/
a {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}

/*Color of Links For Websites Having Already Been Visisted*/
a:visited {
    color: rgb(250, 250, 250);
}

/*Color of Links*/
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Color of Links When Hovering Over Them With Mouse*/
a:hover {
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
}

.content {
    background-color: rgba(236, 235, 235, 0.904);
    color: black;
    border-color: black;
    border-style: solid;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3.0;
    text-align: left;
}

h1 {
    color: black;
    text-align: center;
    font-size: 30px;
}

footer {
    position: sticky;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #041f5af6;
    color: white;
}

.Contact {
    text-align: left;
    margin-left: 5%;
}

dl {
    line-height: 2.0;
}

dt {
    font-size: medium;
}

dd {
    font-size: small;
}